@model StockManager.Data.Data.Entities.shopAdjustments

@{
    ViewData["Title"] = "Create";
}

<h2>Create New Shop Adjustment</h2>

<h4>shopAdjustments</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShopRef" class="control-label"></label>
                @Html.DropDownList("ShopRef", new SelectList(ViewBag.data, "Shopref", "ShopName"))
                <span asp-validation-for="ShopRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockCode" class="control-label"></label>
                @Html.DropDownList("StockCode", new SelectList(ViewBag.Stock, "StockCode", "StockCode"))
                <span asp-validation-for="StockCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="TotalLossItems" class="control-label"></label>
                <input asp-for="TotalLossItems" class="form-control" />
                <span asp-validation-for="TotalLossItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalGainItems" class="control-label"></label>
                <input asp-for="TotalGainItems" class="form-control" />
                <span asp-validation-for="TotalGainItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="MovementDate" class="control-label"></label>
                <input asp-for="MovementDate" class="form-control" />
                <span asp-validation-for="MovementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovementType" class="control-label"></label>
                <input asp-for="MovementType" class="form-control" />
                <span asp-validation-for="MovementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Values" class="control-label"></label>
                <input asp-for="Values" class="form-control" />
                <span asp-validation-for="Values" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
