@model StockManager.Data.Data.Entities.WarehouseTransfers

@{
    ViewData["Title"] = "Create";
}

<h2>Create New Warehouse Transfer</h2>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransferDate" class="control-label"></label>
                <input asp-for="TransferDate" class="form-control" />
                <span asp-validation-for="TransferDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromWarehouseRef" class="control-label"></label>
                @Html.DropDownList("FromWarehouseRef", new SelectList(ViewBag.Data, "WarehouseRef", "WarehouseName"))
                <span asp-validation-for="FromWarehouseRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToWarehouseRef" class="control-label"></label>
                @Html.DropDownList("ToWarehouseRef", new SelectList(ViewBag.Data, "WarehouseRef", "WarehouseName"))
                <span asp-validation-for="ToWarehouseRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockCode" class="control-label"></label>
                @Html.DropDownList("StockCode", new SelectList(ViewBag.Stock, "StockCode", "StockCode"))
                <span asp-validation-for="StockCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TotalGarmentsQtyOut" class="control-label"></label>
                <input asp-for="TotalGarmentsQtyOut" class="form-control" />
                <span asp-validation-for="TotalGarmentsQtyOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBoxesQtyOut" class="control-label"></label>
                <input asp-for="TotalBoxesQtyOut" class="form-control" />
                <span asp-validation-for="TotalBoxesQtyOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalUnitsQtyOut" class="control-label"></label>
                <input asp-for="TotalUnitsQtyOut" class="form-control" />
                <span asp-validation-for="TotalUnitsQtyOut" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
