@model StockManager.Data.Data.Entities.WarehouseReturn

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>WarehouseReturn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WarehouseReturnID" />
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromWarehouseRef" class="control-label"></label>
                <input asp-for="FromWarehouseRef" class="form-control" />
                <span asp-validation-for="FromWarehouseRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToWarehouseRef" class="control-label"></label>
                <input asp-for="ToWarehouseRef" class="form-control" />
                <span asp-validation-for="ToWarehouseRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockCode" class="control-label"></label>
                <input asp-for="StockCode" class="form-control" />
                <span asp-validation-for="StockCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalGarmentsQty" class="control-label"></label>
                <input asp-for="TotalGarmentsQty" class="form-control" />
                <span asp-validation-for="TotalGarmentsQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBoxesQty" class="control-label"></label>
                <input asp-for="TotalBoxesQty" class="form-control" />
                <span asp-validation-for="TotalBoxesQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalUnitsQty" class="control-label"></label>
                <input asp-for="TotalUnitsQty" class="form-control" />
                <span asp-validation-for="TotalUnitsQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
