@model StockManager.Data.Data.Entities.WarehouseAdjustments

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>WarehouseAdjustments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WarehouseRef" class="control-label"></label>
                <input asp-for="WarehouseRef" class="form-control" />
                <span asp-validation-for="WarehouseRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockCode" class="control-label"></label>
                <input asp-for="StockCode" class="form-control" />
                <span asp-validation-for="StockCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovementType" class="control-label"></label>
                <input asp-for="MovementType" class="form-control" />
                <span asp-validation-for="MovementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalItems" class="control-label"></label>
                <input asp-for="TotalItems" class="form-control" />
                <span asp-validation-for="TotalItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovementDate" class="control-label"></label>
                <input asp-for="MovementDate" class="form-control" />
                <span asp-validation-for="MovementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
