@model StockManager.Data.Data.Entities.WarehouseAdjustments

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Warehouse Adjustment</h2>
<hr />
<form asp-action="Edit">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="WarehouseAdjustID" class="control-label"></label>
                <input asp-for="WarehouseAdjustID" readonly="readonly" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WarehouseRef" class="control-label"></label>
                @Html.DropDownList("WarehouseRef", new SelectList(ViewBag.data, "WarehouseRef", "WarehouseName"))
                <span asp-validation-for="WarehouseRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockCode" class="control-label"></label>
                @Html.DropDownList("StockCode", new SelectList(ViewBag.Stock, "StockCode", "StockCode"))
                <span asp-validation-for="StockCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">            
            <div class="form-group">
                <label asp-for="MovementType" class="control-label"></label>
                <input asp-for="MovementType" class="form-control" />
                <span asp-validation-for="MovementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalItems" class="control-label"></label>
                <input asp-for="TotalItems" class="form-control" />
                <span asp-validation-for="TotalItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovementDate" class="control-label"></label>
                <input asp-for="MovementDate" class="form-control" />
                <span asp-validation-for="MovementDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
