#login-panel-heading #register-panel-heading {
    margin-top: 40px;
}
.login-panel .register-panel {
    width: 280px;
    border: none;
}
.login-panel-body .register-panel-body {
    border: 10px solid #000 !important;
    color: crimson !important;
    padding: 20px;
}
.login-form-submit {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.icon-addon {
    position: relative;
    color: blue;
    display: block;
}
.icon-addon .glyphicon {
    position: absolute;
    left: 10px;
    padding: 10px 0;
}
.icon-addon .form-control {
    padding-left: 30px;
    border-radius: 0;
}
.icon-addon:hover .glyphicon {
    color: darkgoldenrod;
}
.login-form-submit button .register-form-submit button {
    width: 100%;
}
.login-form .validation-summary-errors ul {
    padding-left: 20px;
}