@model StockManager.Data.Data.Entities.shopReturns

@{
    ViewData["Title"] = "Create";
}

<h2>Create New Shop Return</h2>

<h4>shopReturns</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShopRef" class="control-label"></label>
                @Html.DropDownList("ShopRef", new SelectList(ViewBag.data, "Shopref", "ShopName"))
                <span asp-validation-for="ShopRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseRef" class="control-label"></label>
                @Html.DropDownList("FromWarehouseRef", new SelectList(ViewBag.data, "WarehouseRef", "WarehouseName"))
                <span asp-validation-for="WarehouseRef" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label"></label>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="StockCode" class="control-label"></label>
                @Html.DropDownList("StockCode", new SelectList(ViewBag.Stock, "StockCode", "StockCode"))
                <span asp-validation-for="StockCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyReturned" class="control-label"></label>
                <input asp-for="QtyReturned" class="form-control" />
                <span asp-validation-for="QtyReturned" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
