@model StockManager.Data.Data.Entities.Deliveries

@{
    ViewData["Title"] = "Create";
}

<h2>Create New Purchase Order</h2>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="StockCode" class="control-label"></label>
                @Html.DropDownList("StockCode", new SelectList(ViewBag.Stock, "StockCode", "StockCode"))
                <span asp-validation-for="StockCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierRef" class="control-label"></label>
                @Html.DropDownList("SupplierRef", new SelectList(ViewBag.Supplier, "SupplierRef", "SupplierRef"))
                <span asp-validation-for="SupplierRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseRef" class="control-label"></label>
                @Html.DropDownList("WarehouseRef", new SelectList(ViewBag.data, "WarehouseRef", "WarehouseName"))
                <span asp-validation-for="WarehouseRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                @Html.DropDownList("Season", new SelectList(ViewBag.Season, "SeasonName", "SeasonName"))
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalGarments" class="control-label"></label>
                <input asp-for="TotalGarments" class="form-control" />
                <span asp-validation-for="TotalGarments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalHangers" class="control-label"></label>
                <input asp-for="TotalHangers" class="form-control" />
                <span asp-validation-for="TotalHangers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBoxes" class="control-label"></label>
                <input asp-for="TotalBoxes" class="form-control" />
                <span asp-validation-for="TotalBoxes" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="NetAmount" class="control-label"></label>
                <input asp-for="NetAmount" class="form-control" />
                <span asp-validation-for="NetAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryCharge" class="control-label"></label>
                <input asp-for="DeliveryCharge" class="form-control" />
                <span asp-validation-for="DeliveryCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commission" class="control-label"></label>
                <input asp-for="Commission" class="form-control" />
                <span asp-validation-for="Commission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VATAmount" class="control-label"></label>
                <input asp-for="VATAmount" class="form-control" />
                <span asp-validation-for="VATAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrossAmount" class="control-label"></label>
                <input asp-for="GrossAmount" class="form-control" />
                <span asp-validation-for="GrossAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Invoice" class="control-label"></label>
                <input asp-for="Invoice" class="form-control" />
                <span asp-validation-for="Invoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipper" class="control-label"></label>
                <input asp-for="Shipper" class="form-control" />
                <span asp-validation-for="Shipper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipperInvoice" class="control-label"></label>
                <input asp-for="ShipperInvoice" class="form-control" />
                <span asp-validation-for="ShipperInvoice" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
