@model StockManager.Data.Data.Entities.shopDeliveries

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>shopDeliveries</h4>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShopDeliveryID" />
            <div class="form-group">
                <label asp-for="ShopRef" class="control-label"></label>
                <input asp-for="ShopRef" class="form-control" />
                <span asp-validation-for="ShopRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseRef" class="control-label"></label>
                <input asp-for="WarehouseRef" class="form-control" />
                <span asp-validation-for="WarehouseRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryRef" class="control-label"></label>
                <input asp-for="DeliveryRef" class="form-control" />
                <span asp-validation-for="DeliveryRef" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="StockCode" class="control-label"></label>
                <input asp-for="StockCode" class="form-control" />
                <span asp-validation-for="StockCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyHangers" class="control-label"></label>
                <input asp-for="QtyHangers" class="form-control" />
                <span asp-validation-for="QtyHangers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
